*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.debug{
  background-color: aquamarine;

}
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.btn{
  color: white;
  background-color:rgba(0,97,255,255) ;
}
.container{
  margin: auto;
  
  
}
.container.large{
  width:90%;
  padding-top: 100px;
}
label{
  margin-right:50px;
  
}
.flex{
  display: flex;
}
li{
  list-style: none;
}

/* NAV */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.top-bar{
  padding: 25px 0px;
  font-size: 0.8rem;
}

.top-bar.left img{
  margin-left: 20px;
  vertical-align: middle;
}

.top-bar.left a{
  margin-left: 40px;
  vertical-align: middle;
}

.top-bar.right > a:nth-child(-n+2){
  margin-right: 40px;
}

.top-bar.right > a:nth-child(n+3){
  margin-right: 20px;
}
nav .btn{
  padding: 5px 15px;
  
}

/* HERO */
header{
  background-color: rgba(180,208,231,255);
  padding-top: 60px;

}

h1{
  font-size: 4.1rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
}
.hero{
  display: flex;
}
.hero.left{
  width: 30%;
  max-width: 500px ;
  height: 380px;
  flex-direction: column;
  padding: 60px 0px;
  
}
.hero.right{
  height: 440px;
  max-width: 800px;
  position: relative;
    
}
.hero.right img{
  width:100%;
  position:relative;
  top: 68px;
  flex-shrink: 0;
  
}
.hero p:first-of-type{
  margin-top: 5px;
  margin-bottom: 30px;
}
.hero p:last-of-type{
  margin-top: 30px;
  margin-bottom: 65px;
}
.hero i{
  font-size: 2.8rem;
  

}
.hero .btn {
  display: block;
  padding: 10px 15px;
  max-width: 230px;
}
/* MAIN */
.container.medium{
  width: 75%;
  margin-top: 160px;
  
}
.container.medium h2{
  margin-bottom: 55px;
  font-size: 1.5rem;
}
.box{
  border: 1px solid black;
  margin-top: 55px;
  
}
.box-top{
  border-bottom: 1px solid black;
  text-align: center;
  
}
.vertical.box {
  width: 33%;
  height: 935px;
  margin-bottom:50px;
}

.box:nth-child(-n+2){
  margin-right: 50px;
}
.box-top i{
  padding:10px;
  
}
.grey{
  color: grey;
}
.btn.box{
  padding:14px 33px ;
  
}