*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.debug{
  background-color: aquamarine;

}
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.btn{
  color: white;
  background-color:rgba(0,97,255,255) ;
}
.container{
  margin: auto;
  
  
}
.container.large{
  width:90%;
  padding-top: 100px;
}

/* NAV */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.top-bar{
  padding: 20px 0px;
  font-size: 0.8rem;
}

.top-bar.left img{
  margin-left: 20px;
  vertical-align: middle;
}

.top-bar.left a{
  margin-left: 40px;
  vertical-align: middle;
}

.top-bar.right > a:nth-child(-n+2){
  margin-right: 40px;
}

.top-bar.right > a:nth-child(n+3){
  margin-right: 20px;
}
nav .btn{
  padding: 5px 15px;
  
}

/* HERO */
header{
  background-color: rgba(180,208,231,255);

}
h1{
  font-size: 4.1rem;
  font-weight: 800;
  
}
.hero{
  display: flex;
 

}

.hero.left{
  width: 30%;
  height: 380px;
  flex-direction: column;
  padding-top: 20px;
  
}
.hero.right{
  width: 70%;
  height: 440px;
  
  max-width: 800px;
  position: relative;
  
  
  
  
}
.hero.right img{
  width:100%;
  position:relative;
  top: 60px;
  
}
.hero p:first-of-type{
  margin-bottom: 60px;
}
.hero p:last-of-type{
  margin-top: 22px;
  margin-bottom: 60px;
}
.hero i{
  font-size: 3rem;
  padding-bottom: 22px;

}
.hero .btn {
  padding: 10px 15px;
}
